$color-primary: hsl(231, 69%, 60%);
$color-grey: hsl(229, 8%, 45%);
$color-light: hsl(0, 0%, 96%);
$font-body: 'Rubik', sans-serif;
$color-dark-blue: hsl(229, 31%, 21%);
$color-grey-light: hsl(0, 0%, 90%); 
$color-coral: hsl(0, 94%, 66%)




